.add-basket-icon {
    font-size: 28px;
    color: #30a95a;
}

.add-basket-icon:hover {
    color: rgba(27, 162, 27, 0.784)
}

.add-basket-icon:active {
    font-size: 32px;
    padding: 5px;
    font-weight: 600;
}